<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superadmin Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h1>Superadmin page</h1>
    <h2 class="mt-3" >Create Room</h2>
    <input id="room-input" placeholder="room name" type="text">
    <button onclick="createRoom()" class="btn btn-primary">Create</button>

    <ul id="room-list"></ul>

    <button onclick="logout()" class="btn btn-danger">Logout</button>
</div>

    <script src="/js/script.js"></script>
    <script src="/js/authorizer-script.js"></script>
</body>
</html>